# Python Programming

### To run your code using
1. Jupyter Notebook
2. Jupyter Lab
3. Google Colab
    - High Computing Machine is unavaialble
    - If s/w is unavaliable
    - Uplodad the Dataset

### Voting Eligibility Classifier

I/P : Data Set -> ML Algorithm -> O/P : ML Model 

After Trainig:

Age - > ML Model -> Eligilbe to Vote or Not?

### Contents
1. What is an Expression?
2. Common Math Commands
3. Variables
4. Significance of Whitespace in Python
5. Comments
6. Naming Rules
7. Naming Convention in Python
8. Variable Assignment
9. Accessing Non-Existent Names
10. Data Types
11. Casting
12. Operators
    * Arithmetic Operators
    * Comparison Operators
    * Logical Operators
    * Identity Operators
    * Bitwise Operators
13. Data Structures
    * List
      * Using Lists as Stacks
      * Using Lists as Queues
      * List Comprehensions
      * Nested List Comprehensions
    * Tuples and Sequences
    * Sets
    * Dictionaries
    * Looping Techniques
    * More on Conditions
    * Comparing Sequences and Other Types
14. Errors and Exceptions
    * Syntax Errors
    * Exceptions
    * Handling Exceptions
    * Raising Exceptions
    * User-defined Exceptions
    * Defining Clean-up Actions
    * Predefined Clean-up Actions
15. Classes
    * A Word About Names and Objects
    * Python Scopes and Namespaces
    * Scopes and Namespaces Example
    * A First Look at Classes
    * Class Definition Syntax
    * Class Objects
    * Instance Objects
    * Method Objects
    * Class and Instance Variables
    * Random Remarks
    * Inheritance
    * Multiple Inheritance
    * Private Variables
    * Odds and Ends
    * Iterators
    * Generators
    * Generator Expressions

## What is an Expression?

* Data value or a set of operations to compute a value

* Arithmetic Operators used: `+ - * / % **`

* Operator Precedence:  `* / % **`

* Paranthesis can be used to force certain order of evaluation.

In [13]:
y=0
x=20
# x*4
# print(x*4+5)
# x*(4+5)
# x/y

## Common Math Commands
* `abs(x)`

* `ceil(x)`

* `floor(x)`

* `log(x)`

* `log10(x)`

* `max(x,y)`

* `min(x,y)`

* `round(x)`

* `sqrt(x)`

#### Note: round(N.x)
* x>0.5 -> N+1 = ceil(N.x)
* x<=0.5 -> N = floor(N.x)

In [21]:
# import math
print(round(10.55))
# print(math.ceil(10.5))
# print(math.floor(10.5))

11

## Variables
* Named peiece of memory that can store a value.

In [22]:
x=7

## Significance of Whitespace in Python

* Braces ```{}``` are **not used** in Python to mark a block of code.

* Whitespaces are used to achieve the same.

* Use ```\``` when must go to next line prematurely.

In [23]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

## Comments
* Single Line Comments `#`

* Multi Line Comments `'''` or `"""`

In [38]:
# x=50

## Naming Rules
* Names are case sensitive and **can't start with a number.**
* Names can contain letters, numbers, underscore.

Python has 33 Key/Reserved Words:

`False`, `None`, `True`, `and`, `as`, `assert`, `break`, `class`, `continue`, `def`, `del`, `elif`, `else`, `except`, `finally`, `for`, `from`, `global`, `if`, `import`, `in`, `is`, `lambda`, `nonlocal`, `not`, `or`, `pass`, `raise`, `return`, `try`, `while`, `with`, `yield`

In [116]:
a=10
b=5
if a>1:
    print('some')
elif a==10:
    print('a is 10')
    
# try
# catch == except
l=[1,2,3,4]
# if 1 in l:
#     print('avaialable')
!=
a=None
if a is not None:
    print('a is null')

some

## Naming Convention in Python
* joined_lower for functions and attributes
* ALL_CAPS for constatns
* StudlyCaps for classes
* _private for private variables

## Variable Assignment
* Assing values to multiple values at the same time
* Assignments can be chained

## Accessing Non-Existent Names
* Don't access a variables before it's created, if accessed rises an error.

## Data Types
`int` `float` `complex` `bool` `str` `bytes` `bytearray` `range` `list` `tuple` `set` `frozenset` `dict` `None`

Pythons built in functions
* print()
* type() - returns the datatype of an identifier.
* long datatype was available in Python 2 but not available in Python 3.

### `int` Data Type

 * Used to represent the integral values
 * Integral values can be represented in 4 forms.
 * Decimal - 12
     * Base 10
     * Allowed values 0-9
 * Binary – 0b10 or 0B10
     * Base 2
     * Allowed values 0 and 1
 * Octal – 0o10 or 0O10
     * Base 8
     * Allowed values 0-8
 * Hexa – 0x10 or 0Ox10
     * Base 16
     * Allowed values 0-9 and a-f or A-F

### Base Conversions
 * `bin()` - returns the binary value of the passed decimal value.
 * `oct()` - returns the ocatal value of the passed decimal value.
 * `hex()` - returns the hexa value of the passed decimal value.

### `float` - Data Type
 * Used to represent real values Ex: Price Rs.200.50
 * All the floating values must be represented only in decimal form.
 * Ex: a= 23.45 – valid, b=0B1111.111 – invalid
 * Floating values can be represented in exponential form.
 * Ex: 1.2e4 equivalent to 1.2 x 10^4

### `complex` – Data Type
 * Used to complex numbers Ex: 10+20j
 * Standard form : a+bj
     * a – real part
     * b – imaginary part
     * j2=-1
 * Real Part - Either decimal/binary/octal/hexa/floating point values.
 * Imaginary part is either decimal or floating point.

**Example**
 * a=10+20j
 * a.real() – returns real part of the complex number
 * a.imag() – returns imaginary part of the complex number

### `bool` – Data Type
 * Used to represent Boolean values
 * Possible values True or False
 * In Python True is equivalent to 1 and False is equivalent to 0.

**Examples:**
 * True + True = 2
 * True + False = 1
 * False + False=0
 * True* True=1
 * True*False=0
 * True/True=1
 * True/False – 1/0 = Zero Division Error
 * False / True= 0.0

### `str` – Data Type
 * Used to represent String values
 * There is no char data type in Python unlike Java and other languages.
 * String values can be represented by either ’ or “ or ’’’.
 * Multiline string literals can be represented using triple quotes ’’’
 * Operator * used to concatenate multiple copies same string.

**Example:**
* 'naga'*2, outputs naganaga

In [130]:
a = "hello"
a

'hello'

### Index – based accessing
 * Index value starts from 0
 * S[+ve] – access data from left to right or from start
 * Ex: s=’naga’, s[0] – returns n
 * S[-ve] -access data from right to left or from last.
 * Example: s[-1] returns a
 * If index is invalid then throws an error.

'ello'

'hello'

'hel'

### Slice Operator
 * Used to get the slice/ part of the full string and can be used on other array based data types such as list, tuple.
 * Standard Form s[start:end] or s[start:end:step]
     * start – starting index (inclusive)
     * end – ending index (exclusive) , values will be pulled till end-1 index only
     * step – step value (default step value is 1)

**Example**
```
 S='naga'
 ```
 * S[1:4] – returns data from index 1 till 3 i.e., aga
 * S[-1:-4] – returns nothing, because the starting index should be always less than end index.
 * S[-4:-1] – returns raj
 * S[1:] –return all the data from index 1 till the end, agaraju
 * S[:6] – return data from starting till the index 5 which is 6-1, nagara
 * S[:] –return all the data from start till the end i.e., nagaraju
 * Note: if any of the provided indexes valid then it returns that data, otherwise it won’t return any thing.
 * Ex: S[1:1000] – returns data from 1 till end of the index, even though 1000 is invalid.
 * Ex: S[1000:12323] – returns empty string as both the indexes are invalid, and don’t throw an error.

### Type Casting a.k.a Type Coersion
 * `int()` – returns the integer value
 * `float()` – returns the float value
 * `complex()` – returns the complex value
 * `bool()` – returns boolean value
 * `str()` – returns string value

### `bytes` – Data Type
 * The only thing that a computer can store is bytes.
 * To store anything in a computer, you must first encode it, i.e. convert it to bytes.
 * Represents a group of byte values just like an array.
 * It is immutable(not grow-able)
 * Only values in the range of 0 to 256 are allowed.
 * Heterogeneous values are not allowed

### `bytearray` – Data Type
 * Used to represent a group of byte values
 * Allowed values only between 0 to 256
 * It is mutable , it is grow able in nature, this is the only difference
between bytes and bytearray.
 * Does not allow heterogeneous objects.

In [9]:
bytearray([1,2])

bytearray(b'\x01\x02')

## Operators

### Arithmetic Operators: 
`+` `-` `*` `/` `%` `**` `//` interger division

2.0

### Comparison Operators
`==` `!=` `>` `<` `>=` `<=`

In [166]:
a='h'
b='h'
if a==b:
    print('same')

same

### Logical Operators

`and` `or` `not`

### Identity Operators
`is` `is not`

In [180]:
# id(a), id(b)
a!=None

(4350731632, 4350731632)

In [183]:
a='h'
b='h'

# if a==b:
#     print('content same')
# else:
#     print('content not same')
    
if a is not None:
    print('same')
else:
    print('not same')

same

### Bitwise Operators
`&` `|` `^` `~` `<<` `>>`

In [15]:
a=-200
b=-200
a is b

False

### Immutability
 * Everything in python is an object.
 * In Python prior to creating an object, interpreter will check if the same object is available
in the heap, if it is not available then it will create otherwise it won’t.
 * Immutability offers better memory utilization and improves performance of the code.
 * Checking for every object in the memory won’t it decrease speed/performance? As the
object is too costly operation then check for the object.
 * All fundamental data types : int, float, bool, complex, str are immutable.
 
 * Keyword ```is``` used to compre the object references.
 
 * Ex: a=10 ,b=10 a is b – returns True as they point to same object, value less then 256.
 * For integer values if the value of an identifier is above 256 a new object will be created
for each identifier irrespective of having the identifiers with same value.
 * Ex: a=257, b=257 ; a is b – returns Flase as the value of a and b are above 256 they will
have 2 different objects that they point to.

### Importantn Notes:

 * Immutability is applicable when the range of a datatype is predictable or fixed.
 * `int`
     * immutablity applicable for only the integers between 0 to 256.
     * Python’s interpreter creates 0 to 256 objects during the start up.
 * `bool`
     * Immutability applicable as there are only 2 values True or False.
     * True and False objects will be created during the interpreter startup.
 * `str`
     * Immutability applicable and no objects will be created during the interpreter startup
 * `float`
     * Immutability is applicable and no objects will be created during the interpreter startup
 * `complex`
     * Immutability is applicable and no objects will be created during the interpreter startup

In [186]:
l=[1,'naga',2]
l

[1, 'naga', 2, 1]

In [187]:
l.append('new element') - it adds at the end

In [190]:
l.insert(2,'newval_at_ind2')

In [192]:
l.clear()

* Normal Asssignment Operation

In [409]:
l5=[1,[1,2], [3,4], [5,6],'hello']
l6=l5
id(l5),id(l6)

(4383269064, 4383269064)

In [224]:
l5.append([99,23])

In [225]:
l5

[1, [1, 2], [3, 4], [5, 6], [99, 23]]

In [226]:
l6

[1, [1, 2], [3, 4], [5, 6], [99, 23]]

In [424]:
id(l2[1]), id(l1[1])

(4383753800, 4383753800)

* Shallow Copy

In [411]:
l1=[1,[1,2], [3,4], [5,6],]
l1

[1, [1, 2], [3, 4], [5, 6]]

In [412]:
l2=l1.copy()
l2

[1, [1, 2], [3, 4], [5, 6]]

In [413]:
id(l1), id(l2)

(4383709448, 4383708680)

In [414]:
l2.append([8,7])
l2

[1, [1, 2], [3, 4], [5, 6], [8, 7]]

In [415]:
l1

[1, [1, 2], [3, 4], [5, 6]]

In [416]:
l1.append([10,20])
l1

[1, [1, 2], [3, 4], [5, 6], [10, 20]]

In [417]:
l2

[1, [1, 2], [3, 4], [5, 6], [8, 7]]

In [419]:
print(l2[1])

[1, 2]

In [420]:
l2[1].append(9)

In [421]:
l2

[1, [1, 2, 9], [3, 4], [5, 6], [8, 7]]

In [422]:
l1

[1, [1, 2, 9], [3, 4], [5, 6], [10, 20]]

* Deep Copy

In [227]:
import copy

In [426]:
l1=[1,[1,2], [3,4], [5,6]]
l2=copy.deepcopy(l1)

In [427]:
id(l1), id(l2)

(4383755272, 4383754248)

In [230]:
l2

[1, [1, 2], [3, 4], [5, 6]]

In [428]:
l1.append([0,4])
l1

[1, [1, 2], [3, 4], [5, 6], [0, 4]]

In [429]:
l2

[1, [1, 2], [3, 4], [5, 6]]

In [430]:
l2.append([8,6])
l2

[1, [1, 2], [3, 4], [5, 6], [8, 6]]

In [431]:
l1

[1, [1, 2], [3, 4], [5, 6], [0, 4]]

In [235]:
print(l1[1])

[1, 2]

In [432]:
l1[1].append(88)
l1

[1, [1, 2, 88], [3, 4], [5, 6], [0, 4]]

In [433]:
l2

[1, [1, 2], [3, 4], [5, 6], [8, 6]]

In [238]:
id(l1), id(l2)

(4383147912, 4382311112)

In [438]:
li=[1,2,3,4,4,None]
li[5]

In [483]:
l1=[[5,2],[4,7]]

In [484]:
l1.sort()
l1

[[4, 7], [5, 2]]

## Data Structures

### `list`
 * All the values should be enclosed with in []
 * Preserves insertion order
 * Retains duplicates
 * Allows heterogeneous objects
 * Grow-able in nature, mutable
 * Slicing operation is allowed.
 * Can have None data.
 * **list methods:**
    * `append()` - append object to end of the list
    * `clear()` - remove all items from list
    * `copy()` - shallo copy of list
    * `count()` - return number of occurences of a value in the list
    * `extend()` - extend list by appedning the elements from other iterables
    * `index()` - return first index of value if exists, raise value error if not exists
    * `insert()` - insert object before the specified index
    * `pop()` - remove and return an element at specified index, defaulut()` - is last item, raise index error if list is empty or out of index
    * `remove()` - remove first occurence of a value, if element doesn;t exisit, raise value error
    * `reverse()` - reverse - inplace operation
    * `sort()` - stable sort - inplace operation, can use reverse=True for descending order, default value is false

 * **Questions:**
     * What is the difference between Shallow Copy and Deep Copy?
         * Reference: https://medium.com/@thawsitt/assignment-vs-shallow-copy-vs-deep-copy-in-python-f70c2f0ebd86
     * What is an Inplace Operation
         * Transforms input using **NO auxiliary data structure**. 
         * The input is usually overwritten by the output as the algorithm executes.
     * What is Stable Sort?
         * Stable sorting algorithms **maintain the relative order of records with equal keys**

In [477]:
l1=[1,2,3,4,56,6,7,8,9,8,8]
# l1.reverse()
l1.sort()
l1

[1, 2, 3, 4, 6, 7, 8, 8, 8, 9, 56]

In [462]:
l1.append(l2)
l1

[1, 2, 3, 4, 56, 6, 7, 8, 9, 8, 8, [99, 89]]

In [443]:
l1.insert(0,0)
l1

[0, 1, 2, 3, 4, 56, 6, 7, 22]

In [445]:
l1.clear()
l1

[]

In [467]:
l1=[1, 2, 3, 4, 56, 6, 7, 8, 9, 8, 8]
l1

[1, 2, 3, 4, 56, 6, 7, 8, 9, 8, 8]

In [469]:
l1.index(56)

4

In [459]:
l1.extend(l2)

In [470]:
l1

[1, 2, 3, 4, 56, 6, 7, 8, 9, 8, 8]

In [471]:
l1.pop()

8

In [473]:
l1.pop(0)

1

In [474]:
l1

[2, 3, 4, 56, 6, 7, 8, 9, 8]

### List Comprehensions
* Standards Syntax ```[ expression for item in list if conditional ]```
* Elegant way to define and create lists based on existing lists
* Conditionals in List Comprehension
* Nested IF with List Comprehension
* if...else With List Comprehension

#### Key Points to Remember
 * List comprehension is an **elegant way to define and create lists based on existing lists.**
 * List comprehension is generally **more compact and faster than normal functions and loops for creating list.**
 * However, we should **avoid writing very long list comprehensions** in one line to ensure that code is user-friendly.
 * Remember, **every list comprehension can be rewritten in for loop, but every for loop can’t be rewritten in the form of list comprehension.**

In [485]:
l=[1,2,3,4,5,6,7,8,9,10]
for i in l:
    if(i%2==0): # even number
        print(i)

2
4
6
8
10

In [492]:
print(l)
["Even" if i%2==0  else "Odd" for i in l]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

['Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even']

In [250]:
[i for i in l if i%2==0 if i>2]

[4]

In [254]:
['Even' if i%2==0 else 'Odd' for i in l]

['Odd', 'Even', 'Odd', 'Even']

In [255]:
matrix=[[1,2],[3,4]]
matrix

[[1, 2], [3, 4]]

### `tuple`

 * All the values should be enclosed with in ()
 * Preserves insertion order
 * Retains duplicates
 * Allows heterogeneous objects
 * Not Grow-able in nature, it is immutable and this the only difference
between list and tuple.
 * Slicing operation is allowed.
 * Can have None data.
 * You can't add elements to a tuple. Tuples have no append or extend method.
 * You can't remove elements from a tuple. Tuples have no remove or pop method.
 * You can find elements in a tuple, since this doesn’t change the tuple.
 * You can also use the in operator to check if an element exists in the tuple.
 * Tuples are faster than lists. If you're defining a constant set of values and all you're ever going to do with it is iterate through it, use a tuple instead of a list.
 
 * **tuple methods:**
    * `count()` - return number of occurences of a value
    * `index()` - return first index of value if exists, raise value error if not exists

In [493]:
t=tuple([1,2,3])
t

(1, 2, 3)

In [495]:
t.index(3)

2

### `range()`
* Represents a sequence of values
* It is immutable
* Standard Syntax ```(start,end,step)```
* Form 1: range(end)
    * Ex: range(10); it returns values from 0 to 9, end index is excluded.
* Form 2: range(start,end)
    * Ex: range(1,10); it returns values from 1 to 9, start index is inclusive and end index is excluded.
* Form 2: range(start,end,step)
    * Ex: range(1,10,2); it returns values from 1,3,5,7,9 to 9, start index is inclusive , end index is excluded and step represents step size.
* Range data type is not applicable for float data type. It means that all the three parameters start index, end index and step values should be a decimal value otherwise interpreter will throw an error.
* default start value is 0
* default step value is 1
* end value is excluded

In [501]:
# (start,end,step)
[i for i in range(0,10,2)]
# 2, 5, 8

[0, 2, 4, 6, 8]

### `set`
 * To create empty set the syntax is a=set(), but not a={} - this is a empty dictionary.
 * All the values should be enclosed with in {}
 * Does not preserve insertion order
 * Does not retain duplicates
 * Allows heterogeneous objects
 * Grow-able in nature, it is mutable
 * **Indexing and Slicing operation is not allowed, i.e., it is not subscriptable.**

 * **set methods**:
     * ```add()``` - Add an element to a set. This has no effect if the element is already present.
     * ```clear()``` - Remove all elements from this set.
     * ```copy()``` - Return a shallow copy of a set.
     * ```difference()``` - Return the difference of two or more sets as a **new set.**
     * ```difference_update()``` -  Remove all elements of another set from this set.
     * ```discard()``` - Remove an element from a set if it is a member. If the element is not a member, do nothing.
     * ```intersection()``` - Return the intersection of two sets as **a new set.(i.e. all elements that are in both set)**
     * ```intersection_update()``` - Update a set with the intersection of itself and another.
     * ```isdisjoint()``` - Return True if two sets have a null intersection.
     * ```issubset()``` -  Report whether another set contains this set.
     * ```issuperset()``` - Report whether this set contains another set.
     * ```pop()``` - **Remove and return an arbitrary set element**. Raises KeyError if the set is empty.
     * ```remove()``` - **Remove an element from a set**; it must be a member. If the element is not a member, raise a KeyError.
     * ```symmetric_difference()``` - Return the symmetric difference of two sets as a new set. (i.e. all elements that are in exactly one of the set )
     * ```symmetric_difference_update()``` - Update a set with the symmetric difference of itself and another.
     * ```union()``` - Return the union of sets as **a new set.** (i.e. all elements that are in either set.)
     * ```update()``` - Update a set with the union of itself and other```

In [543]:
s1=set([1,2,3,77,99])
s2=set([1,2,3,5,9,7])
s1,s2

({1, 2, 3, 77, 99}, {1, 2, 3, 5, 7, 9})

In [544]:
s1.update(s2)

In [545]:
s1

{1, 2, 3, 5, 7, 9, 77, 99}

In [531]:
s2

{1, 2, 3}

In [508]:
type(a)

dict

### `frozenset`
 * All the values should be enclosed with in {}
 * Does not preserve insertion order
 * Does not retain duplicates
 * Allows heterogeneous objects
 * Not Grow-able in nature, it is immutable, it is the only difference
between set and frozenset.
 * **Indexing and Slicing operation is not allowed, i.e., it is not
subscriptable.**

 * **frozenset methods:**
     * ```copy()``` - Return a shallow copy of a set.
     * ```difference()``` - Return the difference of two or more sets as a new set. (i.e. all elements that are in this set but not the others.)
     * ```intersection()``` - Return the intersection of two sets as a new set. (i.e. all elements that are in both sets.)
     * ```isdisjoint()``` - Return True if two sets have a null intersection.
     * ```issubset()``` - Report whether another set contains this set.
     * ```issuperset()``` - Report whether this set contains another set.
     * ```symmetric_difference()``` - Return the symmetric difference of two sets as a new set.(i.e. all elements that are in exactly one of the sets.)
     * ```union()``` - Return the union of sets as a new set.(i.e. all elements that are in either set.)

In [31]:
fs1=frozenset([1,2,4,5])
fs2=frozenset([1,2,5])
fs1-fs2

frozenset({4})

### `dict`
 * Used to represent key and value pairs.
 * All the values should be enclosed in {key:value} by key value pairs.
 * Allows heterogeneous objects
 * Insertion order is preserved
 * It is grow-able in nature, it is mutable.
 * Can have duplicate values but not duplicate keys.
 * Can have None as value but not as key.
 * To create an empty dictionary the synatax is a={}
 
#### Ways to create a dictionary
1. Creating empty dictionary - using dict keyword or with ```{}```
2. Creating dictionary with literals
3. Creating Dictionaries by passing parametrs in dict constructor - keyword can't be an expression
4. Creating Dictionaries by a list of tuples - make sure you pass list of tuples
5. Creating Dictionary by a list of keys and initializing all with same value
6. Creating a Dictionary by a two lists - use zip command

 * **dict methods:**
 
     * ```clear()``` -  Remove all items from D.
     * ```copy()``` -  a shallow copy of D
     * ```fromkeys()``` -  Returns a new dict with keys from iterable and values equal to value.
     * ```get()``` -   D[k] if k in D, else d defaults to None.
     * ```items()``` -  a set-like object providing a view on D's items
     * ```keys()``` -  a set-like object providing a view on D's keys
     * ```pop()``` -  v, remove specified key and return the corresponding value. If key is not found, d is returned if given, otherwise KeyError is raised
     * ```popitem()``` -  (k, v), remove and return some (key, value) pair as a 2-tuple; but raise KeyError if D is empty.
     * ```setdefault()``` -   D.get(k,d), also set D[k]=d if k not in D
     * ```update()``` -  Update D from dict/iterable E and F.
         * If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
         * If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
         * In either case, this is followed by: for k in F:  D[k] = F[k]
     * ```values()``` -  an object providing a view on D's values

In [107]:
d0

{1: 5,
 2: 5,
 3: 6,
 4: 7,
 8: 'new value',
 'a': 3,
 'b': 5,
 'c': 9,
 'name': 'srinath'}

In [106]:
# d0.update()
d1={1: 9}
d1

{1: 9}

In [110]:
d0_k=set(d0.keys())
d1_k=set(d1.keys())
d0_k,d1_k

({1, 2, 3, 4, 8, 'a', 'b', 'c', 'name'}, {1})

In [100]:
d1=dict(a=3,b=5,c=9,name='srinath')
d1

{'a': 3, 'b': 5, 'c': 9, 'name': 'srinath'}

In [101]:
d0.update(d1)

In [104]:
d0[8]='new value'

In [38]:
d2={a:2,b:5}

In [43]:
d3=dict(a=5,b=6)
d3

{'a': 5, 'b': 6}

In [44]:
t=[(1,2),(3,4),(5,6)]
t

[(1, 2), (3, 4), (5, 6)]

In [67]:
t1=tuple([1,2])
t

(1, 2)

In [68]:
dict([t1])

{1: 2}

In [70]:
l1=[1,2,3,4]
dict.fromkeys(l1,None)

{1: None, 2: None, 3: None, 4: None}

In [60]:
l1=[4,5,6,7,8]
l2=[4,5,6,7]

In [71]:
d0=dict(zip(l1,l2))
d0

{1: 4, 2: 5, 3: 6, 4: 7}

In [73]:
d0[1]=5

In [74]:
d0

{1: 5, 2: 5, 3: 6, 4: 7}

### Looping Techniques

In [ ]:
while <expression> :
    do something here
for i <expression> :
    do something here
continue
break

### More on Conditions

In [ ]:
if else elif

## Errors and Exceptions
Reference: https://docs.python.org/3.7/library/exceptions.html#bltin-exceptions

* Syntax Errors
* Exceptions

### Syntax Errors a.k.a Parsing Errors
* Typos

In [117]:
dict(1,2)

TypeError: dict expected at most 1 arguments, got 2

### Exceptions
* Errors detected during execution are called exceptions

### Handling Exceptions
```try``` ```except``` ```finally```
* Stroy of ```try```, ```catch```, ```finally``` clauses
* ```try``` ```else``` clauses
    * Often times we might want some code to run if no exception occurs. 
    * This can easily be achieved by using an else clause
    * The else clause would only run if no exception occurs and it would run before the finally clause.
* Single except block
* Multiple except blocks
* Generic except block

In [6]:
a=10
b=0
try:
    a/0
    print('Exception didn\'t occur')
except Exception as e:
    print('Division by Zero error has occured')
finally:
    print('finally block')

Exception didn't occur
finally block

In [12]:
try:
    print('I am sure no exception is going to occur!')
except Exception:
    print('exception')
else:
    # any code that should only run if no exception occurs in the try,
    # but for which exceptions should NOT be caught
    print('This would only run if no exception occurs. And an error here '
          'would NOT be caught.')
finally:
    print('This would be printed in every case.')

I am sure no exception is going to occur!
This would only run if no exception occurs. And an error here would NOT be caught.
This would be printed in every case.

In [121]:
try:
    f = open('foo.pd', 'r')
    
    # other statements
except IOError as e:
    print('Unable to open foo')

Unable to open foo

In [118]:
try:
    f = open('foo.txt', 'r')
except IOError as e:
    print('Unable to open foo')
else:
    data=f.readlines()
    f.close()
    print(data)

['hello world']

### Raising Exceptions
* The ```raise``` statement allows the programmer to force a specified exception to occur

In [26]:
a=3
if a<10:
    raise Exception('Incorrect value')

Exception: Incorrect value

### User-defined Exceptions

In [122]:
class MyError(Exception): 
  
    # Constructor or Initializer 
    def __init__(self, value): 
        self.value = value 
  
    # __str__ is to print() the value 
    def __str__(self): 
        return(repr(self.value))   
try:
    raise(MyError('raising exception')) 
# Value of Exception is stored in error 
except MyError as error: 
    print('A New Exception occured: ',error.value)

A New Exception occured:  raising exception

### Defining Clean-up Actions
* The try statement has another optional clause which is intended to define clean-up actions that must be executed under all circumstances.

#### Problems to Practice

### Set

Problems:
1.
2.
3.

## Classes

### A Word About Names and Objects

### Python Scopes and Namespaces

### Scopes and Namespaces Example

### A First Look at Classes

### Class Definition Syntax

### Class Objects

### Instance Objects

### Method Objects

### Class and Instance Variables

### Random Remarks

### Inheritance

### Multiple Inheritance

### Private Variables

### Odds and Ends

### Iterators

### Generators

### Generator Expressions